<div class="header-wrapper d-flex justify-content-between" [ngClass]="{'sidebar-opened': sidebarOpened}">
  <div class="header-title-section">
    <div class="header-title">
      <h3>NOVA ADMISSÃO COOPERADO</h3>
    </div>
    <div class="header-subtitle">
      <span class="subtitle">Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado</span>
    </div>
  </div>
  <div class="header-menu-section">
    <div class="menu-notification">
      <fa-icon [icon]="['far','bell']"></fa-icon>
    </div>
    <button type="button" class="btn btn-outline-primary">VIACREDI</button>
    <div>
      <img src="assets/images/user.png" width="35" alt="Usuário">
    </div>
  </div>
</div>
